# Data Structures

In this LAB we will practice Tuples, Sets and Dictionary.  
If you need you can find an extra tutorial on the links below:
* Tuples [Python Tuples Examples and Methods ](https://www.w3schools.com/python/python_tuples.asp)
* Sets [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp)
* Dictionaries [Python Dictionary Examples and Methods](https://www.w3schools.com/python/python_dictionaries.asp)

-----------------------------------

## Tuples

#### Do you know you can create tuples with only one element?

**In the cell below, define a variable `tup` with a single element `"I"`.**

*Hint: you need to add a comma (`,`) after the single element.*

In [1]:
# Your code here

tup = ("I", )

#### Print the type of `tup`. 

Make sure its type is correct (i.e. *tuple* instead of *str*).

In [2]:
# Your code here

type(tup)

tuple

#### Now try to append the following elements to `tup`. 

Are you able to do it? Explain.

```
"r", "o", "n", "h", "a", "c", "k',
```

In [3]:
# Your code here

tup.append("r", "o", "n", "h", "a", "c", "k")

#Tuples are immutable. Any operation that tries to modify it (like append) 
#is not allowed. The values inside of a tuple cannot be overwritten (or mutated) 
#once the tuple is defined. To append these elements to a the tuple, we can convert 
#the tuple in a list, operate, and after that convert the list to a tuple again.

AttributeError: 'tuple' object has no attribute 'append'

#### How about re-assign a new value to an existing tuple?

Re-assign the following elements to `tup`. Are you able to do it? Explain.

```
"I", "r", "o", "n", "h", "a", "c", "k"
```

In [1]:
# Your code here

tup = ("I", "r", "o", "n", "h", "a", "c", "k")
print(tup)
print(type(tup))

#Now the tup variable is a reference to a new tuple with the same name 
#as the one we first created but holding different information. 
#We didn't change the variable tup as tuples are not mutable. 
#Instead, we created a new variable tup.

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')
<class 'tuple'>

#### Split `tup` into `tup1` and `tup2` with 4 elements in each. 

`tup1` should be `("I", "r", "o", "n")` and `tup2` should be `("h", "a", "c", "k")`.

*Hint: use positive index numbers for `tup1` assignment and use negative index numbers for `tup2` assignment. Positive index numbers count from the beginning whereas negative index numbers count from the end of the sequence.*

Also print `tup1` and `tup2`.

In [31]:
# Your code here

tup1 = tup[:4]
tup2 = tup[-4:]
print(tup1)
print(tup2)

('I', 'r', 'o', 'n')
('h', 'a', 'c', 'k')

#### Add `tup1` and `tup2` into `tup3` using the `+` operator.

Then print `tup3` and check if `tup3` equals to `tup`.

In [3]:
# Your code here

tup3 = tup1 + tup2
print(tup3)
print(type(tup3))

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')
<class 'tuple'>

#### Count the number of elements in `tup1` and `tup2`. Then add the two counts together and check if the sum is the same as the number of elements in `tup3`

In [4]:
# Your code here

count1 = len(tup1)
count2 = len(tup2)

print(count1)
print(count2)

count_sum = count1 + count2
count_tup3 = len(tup3)

count_sum == count_tup3

4
4

True

#### What is the index number of `"h"` in `tup3`?

In [5]:
# Your code here

tup3.index("h")

4

-----------------------------------

## Sets

#### First, import the Python `random` library.

In [6]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [68]:
#Your code here

sample_list_1 = random.sample(range(1, 100), k=80)

print(sample_list_1)

[9, 33, 4, 95, 93, 46, 89, 47, 36, 34, 72, 97, 85, 42, 12, 94, 79, 81, 90, 67, 82, 24, 14, 60, 25, 48, 35, 73, 69, 58, 27, 1, 10, 16, 7, 32, 96, 57, 84, 13, 64, 68, 83, 23, 70, 88, 74, 43, 56, 40, 31, 71, 26, 21, 66, 15, 19, 91, 5, 53, 22, 17, 86, 2, 29, 54, 20, 98, 99, 52, 45, 3, 65, 87, 8, 61, 55, 49, 30, 38]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [69]:
#Your code here

set1 = set(sample_list_1)

print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [70]:
#Your code here - Option 1 with "random.choices()" (a Python function, in random)

sample_list_2 = random.choices(range(1, 99), k=80)

print(len(set(sample_list_2)))

50

In [71]:
#Your code here - Option 2 with a FOR loop

sample_list_2 = [random.randint(1, 99) for n in range(80)]

print(sample_list_2)

[81, 50, 54, 21, 61, 6, 30, 34, 75, 92, 13, 93, 72, 88, 36, 63, 81, 50, 94, 48, 88, 25, 66, 50, 7, 4, 28, 75, 67, 57, 39, 67, 24, 47, 21, 75, 10, 19, 36, 89, 79, 63, 32, 89, 12, 60, 82, 95, 87, 12, 4, 89, 68, 68, 95, 67, 36, 46, 9, 56, 13, 67, 29, 59, 48, 99, 68, 31, 32, 83, 86, 18, 24, 53, 54, 37, 52, 86, 24, 47]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [72]:
#Your code here

set2 = set(sample_list_2)

print(len(set2))

52

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [73]:
#Your code here

set3 = set1.difference(set2)

print(set3)

{1, 2, 3, 5, 8, 14, 15, 16, 17, 20, 22, 23, 26, 27, 33, 35, 38, 40, 42, 43, 45, 49, 55, 58, 64, 65, 69, 70, 71, 73, 74, 84, 85, 90, 91, 96, 97, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [74]:
#Your code here

set4 = set2.difference(set1)

print(set4)

{37, 6, 39, 75, 92, 18, 50, 59, 28, 63}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [75]:
#Your code here

set5 = set1.intersection(set2)

print(set5)

{4, 7, 9, 10, 12, 13, 19, 21, 24, 25, 29, 30, 31, 32, 34, 36, 46, 47, 48, 52, 53, 54, 56, 57, 60, 61, 66, 67, 68, 72, 79, 81, 82, 83, 86, 87, 88, 89, 93, 94, 95, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formula to represent that relationship. Test your formular with Python code.

In [76]:
#Your code here

print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
52
38
10
42

In [77]:
print(len(set1) == len(set3) + len(set5))

True

In [78]:
print(len(set2) == len(set4) + len(set5))

True

#### Create an empty set called `set6`.

In [79]:
#Your code here

set6 = set()
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [80]:
#Your code here

set6.update(set3, set5)
print(set6)

{1, 2, 3, 4, 5, 7, 8, 9, 10, 12, 13, 14, 15, 16, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 38, 40, 42, 43, 45, 46, 47, 48, 49, 52, 53, 54, 55, 56, 57, 58, 60, 61, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [81]:
#Your code here

set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [82]:
#Your code here

print(f"Set 1 contains Set 2: {set2.issubset(set1)}")

Set 1 contains Set 2: False

In [83]:
print(f"Set 1 contains Set 3: {set3.issubset(set1)}")

Set 1 contains Set 3: True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [84]:
#Your code here

set_345 = set3.union(set4, set5)
set_12 = set1.union(set2)

print(len(set_345) == len(set_12))

True

#### Using the `pop` method, remove the first element from `set1`.

In [85]:
#Your code here

print([i for i in set1][:10])
print('')
print(set1.pop())
print('')
print([i for i in set1][:10])

[1, 2, 3, 4, 5, 7, 8, 9, 10, 12]

1

[2, 3, 4, 5, 7, 8, 9, 10, 12, 13]

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81]
```

In [87]:
#Your code here

print(set1)

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81]
list_to_remove = set(list_to_remove)

print('')
print(type(list_to_remove))
print('')

remaining_elem = set1 - list_to_remove
print(remaining_elem)

{2, 3, 4, 5, 7, 8, 9, 10, 12, 13, 14, 15, 16, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 38, 40, 42, 43, 45, 46, 47, 48, 49, 52, 53, 54, 55, 56, 57, 58, 60, 61, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99}

<class 'set'>

{2, 3, 4, 5, 7, 8, 10, 12, 13, 14, 15, 16, 17, 20, 22, 23, 24, 25, 26, 27, 30, 32, 33, 34, 35, 36, 38, 40, 42, 43, 45, 46, 47, 48, 52, 53, 54, 55, 56, 57, 58, 60, 64, 65, 66, 67, 68, 70, 72, 73, 74, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99}

In [88]:
# Option 2 with a for loop and "discard()" (Python method, in Built-in Types)

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81]

for i in list_to_remove:
    set1.discard(i)

print(set1)

{2, 3, 4, 5, 7, 8, 10, 12, 13, 14, 15, 16, 17, 20, 22, 23, 24, 25, 26, 27, 30, 32, 33, 34, 35, 36, 38, 40, 42, 43, 45, 46, 47, 48, 52, 53, 54, 55, 56, 57, 58, 60, 64, 65, 66, 67, 68, 70, 72, 73, 74, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99}

-----------------------------------

## Dictionaries

#### Now let's practice the dictionaries!  
We have this dictionary with itens to shopping in grocery.

In [22]:
grocery = {'bread':3, 'rice':2, 'cereals':4, 'eggs':12}

#### What are the `keys` of our grocery dictionary

In [23]:
#your code here

grocery.keys()

dict_keys(['bread', 'rice', 'cereals', 'eggs'])

#### What are the `values` of our grocery dictionary

In [24]:
#your code here

grocery.values()

dict_values([3, 2, 4, 12])

#### Get the value from the key `bread`

In [25]:
#your code here

grocery['bread']

3

#### Now try to create a `new dictionary` based on the table below. The names are the keys and the phone number are the values.

| Name (keys) | Phone Number (values) |
| --- | --- | 
| Valentina | 803-5114  |
| Tyler | 805-5120  |
| Camila | 805-1278 |
| James | 805-3450 |

In [34]:
#your code here

phone_dic = {
    'Valentina' : '8035114',
    'Tyler' : '8055120',
    'Camila' : '8051278',
    'James' : '8053450'
    }

phone_dic

{'Valentina': '8035114',
 'Tyler': '8055120',
 'Camila': '8051278',
 'James': '8053450'}

#### `Add this new person` to your phone dictionary:   
Manoel | 803-8080

In [36]:
#your code here

phone_dic['Manoel'] = '8038080'

phone_dic

{'Valentina': '8035114',
 'Tyler': '8055120',
 'Camila': '8051278',
 'James': '8053450',
 'Manoel': '8038080'}

#### Create a `list` with the phone numbers

In [37]:
#your code here

phone_numbers = list(phone_dic.values())

phone_numbers

['8035114', '8055120', '8051278', '8053450', '8038080']

###  Bonus dictionary

First thing you will practice is how to sort the keys in a dictionary. Unlike the list object, Python dictionary does not have a built-in sort method. You'll need to use FOR loops to to sort dictionaries either by key or by value.

The dictionary below is a summary of the word frequency of Ed Sheeran's song Shape of You. Each key is a word in the lyrics and the value is the number of times that word appears in the lyrics.

In [29]:
word_freq = {'love': 25, 'conversation': 1, 'every': 6, "we're": 1, 'plate': 1, 'sour': 1, 'jukebox': 1, 'now': 11, 'taxi': 1, 'fast': 1, 'bag': 1, 'man': 1, 'push': 3, 'baby': 14, 'going': 1, 'you': 16, "don't": 2, 'one': 1, 'mind': 2, 'backseat': 1, 'friends': 1, 'then': 3, 'know': 2, 'take': 1, 'play': 1, 'okay': 1, 'so': 2, 'begin': 1, 'start': 2, 'over': 1, 'body': 17, 'boy': 2, 'just': 1, 'we': 7, 'are': 1, 'girl': 2, 'tell': 1, 'singing': 2, 'drinking': 1, 'put': 3, 'our': 1, 'where': 1, "i'll": 1, 'all': 1, "isn't": 1, 'make': 1, 'lover': 1, 'get': 1, 'radio': 1, 'give': 1, "i'm": 23, 'like': 10, 'can': 1, 'doing': 2, 'with': 22, 'club': 1, 'come': 37, 'it': 1, 'somebody': 2, 'handmade': 2, 'out': 1, 'new': 6, 'room': 3, 'chance': 1, 'follow': 6, 'in': 27, 'may': 2, 'brand': 6, 'that': 2, 'magnet': 3, 'up': 3, 'first': 1, 'and': 23, 'pull': 3, 'of': 6, 'table': 1, 'much': 2, 'last': 3, 'i': 6, 'thrifty': 1, 'grab': 2, 'was': 2, 'driver': 1, 'slow': 1, 'dance': 1, 'the': 18, 'say': 2, 'trust': 1, 'family': 1, 'week': 1, 'date': 1, 'me': 10, 'do': 3, 'waist': 2, 'smell': 3, 'day': 6, 'although': 3, 'your': 21, 'leave': 1, 'want': 2, "let's": 2, 'lead': 6, 'at': 1, 'hand': 1, 'how': 1, 'talk': 4, 'not': 2, 'eat': 1, 'falling': 3, 'about': 1, 'story': 1, 'sweet': 1, 'best': 1, 'crazy': 2, 'let': 1, 'too': 5, 'van': 1, 'shots': 1, 'go': 2, 'to': 2, 'a': 8, 'my': 33, 'is': 5, 'place': 1, 'find': 1, 'shape': 6, 'on': 40, 'kiss': 1, 'were': 3, 'night': 3, 'heart': 3, 'for': 3, 'discovering': 6, 'something': 6, 'be': 16, 'bedsheets': 3, 'fill': 2, 'hours': 2, 'stop': 1, 'bar': 1}

There are several ways to achieve that goal but many of the ways are beyond what we have covered so far in the course. There is one way that we'll describe employing what you have learned. Please feel free to use this way or any other way you want.

1. First extract the keys of `word_freq` and convert it to a list called `keys`.

1. Sort the `keys` list.

1. Create an empty dictionary `word_freq2`.

1. Use a FOR loop to iterate each value in `keys`. For each key iterated, find the corresponding value in `word_freq` and insert the key-value pair to `word_freq2`.

Print out `word_freq2` to examine its keys and values. Your output should be:

```python
{'a': 8, 'about': 1, 'all': 1, 'although': 3, 'and': 23, 'are': 1, 'at': 1, 'baby': 14, 'backseat': 1, 'bag': 1, 'bar': 1, 'be': 16, 'bedsheets': 3, 'begin': 1, 'best': 1, 'body': 17, 'boy': 2, 'brand': 6, 'can': 1, 'chance': 1, 'club': 1, 'come': 37, 'conversation': 1, 'crazy': 2, 'dance': 1, 'date': 1, 'day': 6, 'discovering': 6, 'do': 3, 'doing': 2, "don't": 2, 'drinking': 1, 'driver': 1, 'eat': 1, 'every': 6, 'falling': 3, 'family': 1, 'fast': 1, 'fill': 2, 'find': 1, 'first': 1, 'follow': 6, 'for': 3, 'friends': 1, 'get': 1, 'girl': 2, 'give': 1, 'go': 2, 'going': 1, 'grab': 2, 'hand': 1, 'handmade': 2, 'heart': 3, 'hours': 2, 'how': 1, 'i': 6, "i'll": 1, "i'm": 23, 'in': 27, 'is': 5, "isn't": 1, 'it': 1, 'jukebox': 1, 'just': 1, 'kiss': 1, 'know': 2, 'last': 3, 'lead': 6, 'leave': 1, 'let': 1, "let's": 2, 'like': 10, 'love': 25, 'lover': 1, 'magnet': 3, 'make': 1, 'man': 1, 'may': 2, 'me': 10, 'mind': 2, 'much': 2, 'my': 33, 'new': 6, 'night': 3, 'not': 2, 'now': 11, 'of': 6, 'okay': 1, 'on': 40, 'one': 1, 'our': 1, 'out': 1, 'over': 1, 'place': 1, 'plate': 1, 'play': 1, 'pull': 3, 'push': 3, 'put': 3, 'radio': 1, 'room': 3, 'say': 2, 'shape': 6, 'shots': 1, 'singing': 2, 'slow': 1, 'smell': 3, 'so': 2, 'somebody': 2, 'something': 6, 'sour': 1, 'start': 2, 'stop': 1, 'story': 1, 'sweet': 1, 'table': 1, 'take': 1, 'talk': 4, 'taxi': 1, 'tell': 1, 'that': 2, 'the': 18, 'then': 3, 'thrifty': 1, 'to': 2, 'too': 5, 'trust': 1, 'up': 3, 'van': 1, 'waist': 2, 'want': 2, 'was': 2, 'we': 7, "we're": 1, 'week': 1, 'were': 3, 'where': 1, 'with': 22, 'you': 16, 'your': 21}
```

In [40]:
#your code here

keys = list(word_freq.keys())

keys.sort()

word_freq2 = {}

for i in keys:
    word_freq2[i] = word_freq[i]

print(word_freq2)

{'a': 8, 'about': 1, 'all': 1, 'although': 3, 'and': 23, 'are': 1, 'at': 1, 'baby': 14, 'backseat': 1, 'bag': 1, 'bar': 1, 'be': 16, 'bedsheets': 3, 'begin': 1, 'best': 1, 'body': 17, 'boy': 2, 'brand': 6, 'can': 1, 'chance': 1, 'club': 1, 'come': 37, 'conversation': 1, 'crazy': 2, 'dance': 1, 'date': 1, 'day': 6, 'discovering': 6, 'do': 3, 'doing': 2, "don't": 2, 'drinking': 1, 'driver': 1, 'eat': 1, 'every': 6, 'falling': 3, 'family': 1, 'fast': 1, 'fill': 2, 'find': 1, 'first': 1, 'follow': 6, 'for': 3, 'friends': 1, 'get': 1, 'girl': 2, 'give': 1, 'go': 2, 'going': 1, 'grab': 2, 'hand': 1, 'handmade': 2, 'heart': 3, 'hours': 2, 'how': 1, 'i': 6, "i'll": 1, "i'm": 23, 'in': 27, 'is': 5, "isn't": 1, 'it': 1, 'jukebox': 1, 'just': 1, 'kiss': 1, 'know': 2, 'last': 3, 'lead': 6, 'leave': 1, 'let': 1, "let's": 2, 'like': 10, 'love': 25, 'lover': 1, 'magnet': 3, 'make': 1, 'man': 1, 'may': 2, 'me': 10, 'mind': 2, 'much': 2, 'my': 33, 'new': 6, 'night': 3, 'not': 2, 'now': 11, 'of': 6, 'okay': 1, 'on': 40, 'one': 1, 'our': 1, 'out': 1, 'over': 1, 'place': 1, 'plate': 1, 'play': 1, 'pull': 3, 'push': 3, 'put': 3, 'radio': 1, 'room': 3, 'say': 2, 'shape': 6, 'shots': 1, 'singing': 2, 'slow': 1, 'smell': 3, 'so': 2, 'somebody': 2, 'something': 6, 'sour': 1, 'start': 2, 'stop': 1, 'story': 1, 'sweet': 1, 'table': 1, 'take': 1, 'talk': 4, 'taxi': 1, 'tell': 1, 'that': 2, 'the': 18, 'then': 3, 'thrifty': 1, 'to': 2, 'too': 5, 'trust': 1, 'up': 3, 'van': 1, 'waist': 2, 'want': 2, 'was': 2, 'we': 7, "we're": 1, 'week': 1, 'were': 3, 'where': 1, 'with': 22, 'you': 16, 'your': 21}

In [41]:
#your code here - option 2

keys = list(word_freq.keys())

keys.sort()

word_freq2 = {key: word_freq[key] for key in keys}

print(word_freq2)

{'a': 8, 'about': 1, 'all': 1, 'although': 3, 'and': 23, 'are': 1, 'at': 1, 'baby': 14, 'backseat': 1, 'bag': 1, 'bar': 1, 'be': 16, 'bedsheets': 3, 'begin': 1, 'best': 1, 'body': 17, 'boy': 2, 'brand': 6, 'can': 1, 'chance': 1, 'club': 1, 'come': 37, 'conversation': 1, 'crazy': 2, 'dance': 1, 'date': 1, 'day': 6, 'discovering': 6, 'do': 3, 'doing': 2, "don't": 2, 'drinking': 1, 'driver': 1, 'eat': 1, 'every': 6, 'falling': 3, 'family': 1, 'fast': 1, 'fill': 2, 'find': 1, 'first': 1, 'follow': 6, 'for': 3, 'friends': 1, 'get': 1, 'girl': 2, 'give': 1, 'go': 2, 'going': 1, 'grab': 2, 'hand': 1, 'handmade': 2, 'heart': 3, 'hours': 2, 'how': 1, 'i': 6, "i'll": 1, "i'm": 23, 'in': 27, 'is': 5, "isn't": 1, 'it': 1, 'jukebox': 1, 'just': 1, 'kiss': 1, 'know': 2, 'last': 3, 'lead': 6, 'leave': 1, 'let': 1, "let's": 2, 'like': 10, 'love': 25, 'lover': 1, 'magnet': 3, 'make': 1, 'man': 1, 'may': 2, 'me': 10, 'mind': 2, 'much': 2, 'my': 33, 'new': 6, 'night': 3, 'not': 2, 'now': 11, 'of': 6, 'okay': 1, 'on': 40, 'one': 1, 'our': 1, 'out': 1, 'over': 1, 'place': 1, 'plate': 1, 'play': 1, 'pull': 3, 'push': 3, 'put': 3, 'radio': 1, 'room': 3, 'say': 2, 'shape': 6, 'shots': 1, 'singing': 2, 'slow': 1, 'smell': 3, 'so': 2, 'somebody': 2, 'something': 6, 'sour': 1, 'start': 2, 'stop': 1, 'story': 1, 'sweet': 1, 'table': 1, 'take': 1, 'talk': 4, 'taxi': 1, 'tell': 1, 'that': 2, 'the': 18, 'then': 3, 'thrifty': 1, 'to': 2, 'too': 5, 'trust': 1, 'up': 3, 'van': 1, 'waist': 2, 'want': 2, 'was': 2, 'we': 7, "we're": 1, 'week': 1, 'were': 3, 'where': 1, 'with': 22, 'you': 16, 'your': 21}