# LAB | introduction to API

Introduction:
- In this lab we will work with New York Times API.
- You can check the api documentation [here](https://developer.nytimes.com/apis).

---

![image](https://developer.nytimes.com/files/poweredby_nytimes_200a.png?v=1583354208344)

[Go to The New York Times Developer Network](https://developer.nytimes.com)

---

## Import libraries

In [1]:
# Your code here

import pandas as pd
import requests

## Getting access to the API

- Check the get started page [here](https://developer.nytimes.com/get-started)
    - Create an account in the NYtimes developers 
    - Register apps. You can enable all APIs (Archive API, Article Search API, Books API ...)

## Saving your key
- After register the apps the website will return a API key.
- We advise you to save the api key in the external file `your_key.txt` 
- **Be careful: Do not upload your key to a public repository in github**
- After save you key in the `your_key.txt` file you can open and use the key with the code below:

In [2]:
your_key = open("your_key.txt", "r").read()

______________________________

## Archive API
- Get all NYT article metadata for a given month.
- You can check the documentation [here](https://developer.nytimes.com/docs/archive-product/1/routes/%7Byear%7D/%7Bmonth%7D.json/get).

### Get articles

- Use the code below to get the data.
- You should assign a value for year and month.
```python
query_url_archive = f"https://api.nytimes.com/svc/archive/v1/{year}/{month}.json?api-key={your_key}"
archive_request = requests.get(query_url_archive)
archive_request
```
- You should get `<Response [200]>` as a result

In [3]:
# Your code here

year = 2021
month = 8

query_url_archive = (
    f"https://api.nytimes.com/svc/archive/v1/{year}/{month}.json?api-key={your_key}"
)
response_articles = requests.get(query_url_archive)
response_articles

In [4]:
response_articles.headers

{'Date': 'Thu, 23 Sep 2021 13:51:10 GMT', 'Content-Type': 'application/json; charset=UTF-8', 'Content-Length': '14124551', 'Connection': 'keep-alive', 'X-GUploader-UploadID': 'ADPycdsPsBc35kYNQID6luC6YTW8C57S0Px4WCZi-0nVdzkJeRrkXgf5Mx7cuoaAsIxgH1CfueCqJJTAvFNyMzxJT46PhC4Ziw', 'Cache-Control': 'max-age=43200', 'Expires': 'Fri, 24 Sep 2021 01:51:10 GMT', 'Last-Modified': 'Tue, 31 Aug 2021 23:34:49 GMT', 'ETag': '"b6db4a855f9cd74b62189b4df172e250"', 'x-goog-generation': '1630452889704571', 'x-goog-metageneration': '2', 'x-goog-stored-content-encoding': 'identity', 'x-goog-stored-content-length': '14124551', 'x-goog-hash': 'crc32c=ADyVew==, md5=tttKhV+c10tiGJtN8XLiUA==', 'x-goog-storage-class': 'MULTI_REGIONAL', 'Accept-Ranges': 'bytes', 'Server': 'UploadServer', 'Alt-Svc': 'h3=":443"; ma=2592000,h3-29=":443"; ma=2592000,h3-T051=":443"; ma=2592000,h3-Q050=":443"; ma=2592000,h3-Q046=":443"; ma=2592000,h3-Q043=":443"; ma=2592000,quic=":443"; ma=2592000; v="46,43"'}

###  Reading the response
- You should use `.json()` to get the information from your response

In [5]:
# Your code here

results_articles = response_articles.json()
results_articles.keys()

dict_keys(['copyright', 'response'])

In [6]:
type(results_articles["response"]["docs"])

list

In [7]:
len(results_articles["response"]["docs"])

4223

In [8]:
results_articles["response"]["docs"][1]

{'abstract': 'McKeon picked up two more golds, giving her a record-tying seven medals in Tokyo, and Caeleb Dressel swam away with his fourth and fifth golds.',
 'web_url': 'https://www.nytimes.com/2021/07/31/sports/olympics/swimming-dressel-finke-relays-results.html',
 'snippet': 'McKeon picked up two more golds, giving her a record-tying seven medals in Tokyo, and Caeleb Dressel swam away with his fourth and fifth golds.',
 'lead_paragraph': 'TOKYO — The medals, dozens of them, arrived in singles and in bunches, in short races and long ones, in medleys and relays. But every day, it seemed, the United States and Australia tossed a few more on the pile. Sunday was no different.',
 'print_section': 'D',
 'print_page': '3',
 'source': 'The New York Times',
 'multimedia': [{'rank': 0,
   'subtype': 'xlarge',
   'caption': None,
   'credit': None,
   'type': 'image',
   'url': 'images/2021/07/31/sports/olympics/01olympics-live-doug-1133/01olympics-live-doug-1133-articleLarge.jpg',
   'height': 400,
   'width': 600,
   'subType': 'xlarge',
   'crop_name': 'articleLarge',
   'legacy': {'xlarge': 'images/2021/07/31/sports/olympics/01olympics-live-doug-1133/01olympics-live-doug-1133-articleLarge.jpg',
    'xlargewidth': 600,
    'xlargeheight': 400}},
  {'rank': 0,
   'subtype': 'jumbo',
   'caption': None,
   'credit': None,
   'type': 'image',
   'url': 'images/2021/07/31/sports/olympics/01olympics-live-doug-1133/01olympics-live-doug-1133-jumbo.jpg',
   'height': 683,
   'width': 1024,
   'subType': 'jumbo',
   'crop_name': 'jumbo',
   'legacy': {}},
  {'rank': 0,
   'subtype': 'superJumbo',
   'caption': None,
   'credit': None,
   'type': 'image',
   'url': 'images/2021/07/31/sports/olympics/01olympics-live-doug-1133/01olympics-live-doug-1133-superJumbo.jpg',
   'height': 1365,
   'width': 2048,
   'subType': 'superJumbo',
   'crop_name': 'superJumbo',
   'legacy': {}},
  {'rank': 0,
   'subtype': 'thumbnail',
   'caption': None,
   'credit': None,
   'type': 'image',
   'url': 'images/2021/07/31/sports/olympics/01olympics-live-doug-1133/01olympics-live-doug-1133-thumbStandard.jpg',
   'height': 75,
   'width': 75,
   'subType': 'thumbnail',
   'crop_name': 'thumbStandard',
   'legacy': {'thumbnail': 'images/2021/07/31/sports/olympics/01olympics-live-doug-1133/01olympics-live-doug-1133-thumbStandard.jpg',
    'thumbnailwidth': 75,
    'thumbnailheight': 75}},
  {'rank': 0,
   'subtype': 'thumbLarge',
   'caption': None,
   'credit': None,
   'type': 'image',
   'url': 'images/2021/07/31/sports/olympics/01olympics-live-doug-1133/01olympics-live-doug-1133-thumbLarge.jpg',
   'height': 150,
   'width': 150,
   'subType': 'thumbLarge',
   'crop_name': 'thumbLarge',
   'legacy': {}}],
 'headline': {'main': 'In swimming’s finale, the U.S. men keep their unbeaten streak alive, and Emma McKeon gets her 7th medal.',
  'kicker': None,
  'content_kicker': None,
  'print_headline': 'The Gold Standards in the Pool',
  'name': None,
  'seo': None,
  'sub': None},
 'keywords': [{'name': 'subject',
   'value': 'Olympic Games (2020)',
   'rank': 1,
   'major': 'N'},
  {'name': 'subject', 'value': 'Swimming', 'rank': 2, 'major': 'N'},
  {'name': 'persons',
   'value': 'Dressel, Caeleb (1996- )',
   'rank': 3,
   'major': 'N'},
  {'name': 'persons',
   'value': 'Finke, Bobby (1999- )',
   'rank': 4,
   'major': 'N'},
  {'name': 'glocations', 'value': 'Australia', 'rank': 5, 'major': 'N'},
  {'name': 'glocations', 'value': 'United States', 'rank': 6, 'major': 'N'},
  {'name': 'subject',
   'value': 'Records and Achievements',
   'rank': 7,
   'major': 'N'},
  {'name': 'persons',
   'value': 'McKeon, Emma (1994- )',
   'rank': 8,
   'major': 'N'}],
 'pub_date': '2021-08-01T01:11:42+0000',
 'document_type': 'article',
 'news_desk': 'Sports',
 'section_name': 'Sports',
 'subsection_name': 'Olympics',
 'byline': {'original': 'By Andrew Keh',
  'person': [{'firstname': 'Andrew',
    'middlename': None,
    'lastname': 'Keh',
    'qualifier': None,
    'title': None,
    'role': 'reported',
    'organization': '',
    'rank': 1}],
  'organization': None},
 'type_of_material': 'News',
 '_id': 'nyt://article/9183cc7a-0112-5ea2-bcbf-29e2e63a3e17',
 'word_count': 1188,
 'uri': 'nyt://article/9183cc7a-0112-5ea2-bcbf-29e2e63a3e17'}

### Creating a DataFrame
- Create a dataframe from the request that you made.
- **Hint**: You may need to enter in some keys from your json file

In [9]:
# Your code here

df_articles = pd.json_normalize(results_articles)
df_articles

,copyright,response.docs,response.meta.hits
0,Copyright (c) 2021 The New York Times Company....,"[{'abstract': 'Anthony Barajas, who was popula...",4223

In [10]:
nyt_articles = pd.DataFrame(results_articles["response"]["docs"])
nyt_articles

,abstract,web_url,snippet,lead_paragraph,source,multimedia,headline,keywords,pub_date,document_type,news_desk,section_name,byline,type_of_material,_id,word_count,uri,print_section,print_page,subsection_name
0,"Anthony Barajas, who was popular on TikTok, an...",https://www.nytimes.com/2021/07/31/us/anthony-...,"Anthony Barajas, who was popular on TikTok, an...",A second person died on Saturday after being s...,The New York Times,"[{'rank': 0, 'subtype': 'xlarge', 'caption': N...",{'main': '2 Dead in Random Shooting at ‘Purge’...,"[{'name': 'subject', 'value': 'Murders, Attemp...",2021-08-01T01:02:44+0000,article,Express,U.S.,"{'original': 'By Jesus Jiménez', 'person': [{'...",News,nyt://article/a4e24f85-e7fb-50f0-a25f-d6571fff...,425,nyt://article/a4e24f85-e7fb-50f0-a25f-d6571fff...,NaN,NaN,NaN
1,"McKeon picked up two more golds, giving her a ...",https://www.nytimes.com/2021/07/31/sports/olym...,"McKeon picked up two more golds, giving her a ...","TOKYO — The medals, dozens of them, arrived in...",The New York Times,"[{'rank': 0, 'subtype': 'xlarge', 'caption': N...","{'main': 'In swimming’s finale, the U.S. men k...","[{'name': 'subject', 'value': 'Olympic Games (...",2021-08-01T01:11:42+0000,article,Sports,Sports,"{'original': 'By Andrew Keh', 'person': [{'fir...",News,nyt://article/9183cc7a-0112-5ea2-bcbf-29e2e63a...,1188,nyt://article/9183cc7a-0112-5ea2-bcbf-29e2e63a...,D,3,Olympics
2,McKeon’s haul ties her for the record by any f...,https://www.nytimes.com/2021/07/31/sports/olym...,McKeon’s haul ties her for the record by any f...,TOKYO — The most decorated Olympic swimmer in ...,The New York Times,"[{'rank': 0, 'subtype': 'xlarge', 'caption': N...","{'main': 'With seven medals at one Olympics, E...","[{'name': 'subject', 'value': 'Olympic Games (...",2021-08-01T02:26:22+0000,article,Sports,Sports,"{'original': 'By Randal C. Archibold', 'person...",News,nyt://article/e08bb83c-e62e-563c-94ca-3d96985a...,296,nyt://article/e08bb83c-e62e-563c-94ca-3d96985a...,NaN,NaN,Olympics
3,"Quotation of the Day for Sunday, August 1, 2021.",https://www.nytimes.com/2021/07/31/todayspaper...,"Quotation of the Day for Sunday, August 1, 2021.",“We live in an era of unprecedented scientific...,The New York Times,[],{'main': 'Quotation of the Day: Who Are the Un...,[],2021-08-01T03:19:14+0000,article,Summary,Today’s Paper,"{'original': '', 'person': [], 'organization':...",Quote,nyt://article/064efaec-c567-5755-80dd-3f05a109...,38,nyt://article/064efaec-c567-5755-80dd-3f05a109...,A,3,NaN
4,The state’s daily average of cases has risen m...,https://www.nytimes.com/2021/07/31/world/greg-...,The state’s daily average of cases has risen m...,"Many states, cities, businesses and schools ha...",The New York Times,"[{'rank': 0, 'subtype': 'xlarge', 'caption': N...",{'main': 'Gov. Greg Abbott bars mandates for v...,"[{'name': 'subject', 'value': 'Masks', 'rank':...",2021-08-01T03:50:16+0000,article,National,World,"{'original': 'By Dave Montgomery', 'person': [...",News,nyt://article/1bfced6d-3b35-514f-8dbb-f13e4f88...,468,nyt://article/1bfced6d-3b35-514f-8dbb-f13e4f88...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4218,The announcement that Dr. Marion Gruber and Dr...,https://www.nytimes.com/2021/08/31/us/politics...,The announcement that Dr. Marion Gruber and Dr...,WASHINGTON — Two of the Food and Drug Administ...,The New York Times,"[{'rank': 0, 'subtype': 'xlarge', 'caption': N...",{'main': 'Two Top F.D.A. Vaccine Regulators Ar...,"[{'name': 'subject', 'value': 'Vaccination and...",2021-08-31T22:51:21+0000,article,Washington,U.S.,{'original': 'By Noah Weiland and Sharon LaFra...,News,nyt://article/23023a8a-b3f0-56db-b86d-b278c9f4...,1165,nyt://article/23023a8a-b3f0-56db-b86d-b278c9f4...,NaN,NaN,Politics
4219,Climate migration is here. Where we go next is...,https://www.nytimes.com/2021/08/31/opinion/whe...,Climate migration is here. Where we go next is...,There was not enough time to fully evacuate Ne...,The New York Times,"[{'rank': 0, 'subtype': 'xlarge', 'caption': N...",{'main': 'When Climate Change Comes To Your Do...,"[{'name': 'subject', 'value': 'Hurricane Ida (...",2021-08-31T23:00:13+0000,article,OpEd,Opinion,"{'original': 'By Alexandra Tempus', 'person': ...",Op-Ed,nyt://article/a1e781d5-7483-5030-8036-77b39e35...,1015,nyt://article/a1e781d5-7483-5030-8036-77b39e35...,NaN,NaN,NaN
4220,It remains unknown if this move has an 83 perc...,https://www.nytimes.com/2021/08/31/science/sco...,It remains unknown if this move has an 83 perc...,"In a nail salon in Los Angeles, Elle Woods int...",The New York Times,"[{'rank': 0, 'subtype': 'xlarge', 'caption': N...",{'main': 'How Scorpion Tails Do the Bend and T...,"[{'name': 'subject', 'value': 'your-feed-scien...",2021-08-31T23:01:06+0000,article,Science,Science,"{'original': 'By Sabrina Imbler', 'person': [{...",News,nyt://article/4a2f84f9-59da-50b3-8ba0-fc3388c6...,947,nyt://article/4a2f84f9-59da-50b3-8ba0-fc3388c6...,NaN,NaN,NaN
4221,The men were brought to court for the first ti...,https://www.nytimes.com/2021/08/31/us/politics...,The men were brought to court for the first ti...,"GUANTÁNAMO BAY, Cuba — Three men who have been...",The New York Times,"[{'rank': 0, 'subtype': 'xlarge', 'caption': N...",{'main': 'Three Guantánamo Detainees Charged i...,"[{'name': 'subject', 'value': 'Terrorism', 'ra...",2021-08-31T23:03:58+0000,article,Washington,U.S.,"{'original': 'By Carol Rosenberg', 'person': [...",News,nyt://article/b40ddee8-cc40-540c-acb1-973bf866...,811,nyt://article/b40ddee8-cc40-540c-acb1-973bf866...,NaN,NaN,Politics
4222,"Roberto Wagner Fernandes, who died in a plane ...",https://www.nytimes.com/2021/08/31/us/miami-se...,"Roberto Wagner Fernandes, who died in a plane ...",A man who died in a plane crash in Paraguay in...,The New York Times,"[{'rank': 0, 'subtype': 'xlarge', 'caption': N...",{'main': 'Trail in Decades-Old Florida Killing...,"[{'name': 'subject', 'value': 'Forensic Scienc...",2021-08-31T23:04:55+0000,article,Express,U.S.,"{'original': 'By Vimal Patel', 'person': [{'fi...",News,nyt://article/2e1b06f2-032f-52ff-ac0f-b133d51d...,696,nyt://article/2e1b06f2-032f-52ff-ac0f-b133d51d...,NaN,NaN,NaN

In [11]:
nyt_articles.columns

Index(['abstract', 'web_url', 'snippet', 'lead_paragraph', 'source',
       'multimedia', 'headline', 'keywords', 'pub_date', 'document_type',
       'news_desk', 'section_name', 'byline', 'type_of_material', '_id',
       'word_count', 'uri', 'print_section', 'print_page', 'subsection_name'],
      dtype='object')

### Working with the data
- One of your dataframe columns shall be `news_desk`. 
- Group your dataframe by `news_desk` column and count the values.
- What are the top 5 of this grouping

In [12]:
# Your code here

nyt_articles.groupby(by="news_desk")[["abstract"]].count().sort_values(
    by="abstract", ascending=False
).head(5).rename(columns={"abstract": "TOP 5"})

            TOP 5
news_desk
Foreign       473
Sports        333
Business      304
OpEd          256
Washington    240

______________________________

# Books API
- Get Best Sellers by date.
- You can check the documentation [here](https://developer.nytimes.com/docs/books-product/1/routes/lists/%7Bdate%7D/%7Blist%7D.json/get).

### Get books
- Use the code below to get the data.
- Use `hardcover-fiction` as `type_book`.
```python
query_url_book = f'https://api.nytimes.com/svc/books/v3/lists/{date}/{type_book}.json?api-key={your_key}'
```

In [19]:
# Your code here

date = "2021-09-22"
type_book = "hardcover-fiction"

query_url_archive = (
    f"https://api.nytimes.com/svc/books/v3/lists/{date}/{type_book}.json?api-key={your_key}"
)
response_books = requests.get(query_url_archive)
response_books

In [20]:
response_books.headers

{'Date': 'Thu, 23 Sep 2021 13:57:05 GMT', 'Content-Type': 'application/json; charset=UTF-8', 'Transfer-Encoding': 'chunked', 'Connection': 'keep-alive', 'Server': 'Apache/2.4.38 (Debian)', 'X-Powered-By': 'PHP/7.4.13', 'Via': '1.1 google, 1.1 varnish', 'Content-Encoding': 'gzip', 'Accept-Ranges': 'bytes', 'Age': '0', 'X-Served-By': 'cache-fty21354-FTY', 'X-Cache': 'MISS', 'X-Cache-Hits': '0', 'X-Timer': 'S1632405426.686343,VS0,VE151', 'Vary': 'Accept-Encoding', 'Access-Control-Allow-Origin': '*', 'Access-Control-Allow-Headers': 'Accept, Content-Type, X-Forwarded-For, X-Prototype-Version, X-Requested-With', 'Access-Control-Expose-Headers': 'Content-Length, X-JSON', 'Access-Control-Allow-Methods': 'GET, OPTIONS'}

## Creating a DataFrame
- Create a dataframe from the request that you made.
- Find the top 5 books of the day you chose and bring the title, author, publisher and description of the books.
- **Hint**: You may need to enter in some keys from your json file.

In [21]:
# Your code here

results_books = response_books.json()
results_books.keys()

dict_keys(['status', 'copyright', 'num_results', 'last_modified', 'results'])

In [55]:
books = list(results_books["results"].items())[10:11]
books[0][1][0]

{'rank': 1,
 'rank_last_week': 0,
 'weeks_on_list': 1,
 'asterisk': 0,
 'dagger': 0,
 'primary_isbn10': '0374602603',
 'primary_isbn13': '9780374602604',
 'publisher': 'Farrar, Straus & Giroux',
 'description': 'A novelist, a warehouse worker, an editorial assistant and a political adviser deal with changes.',
 'price': '0.00',
 'title': 'BEAUTIFUL WORLD, WHERE ARE YOU',
 'author': 'Sally Rooney',
 'contributor': 'by Sally Rooney',
 'contributor_note': '',
 'book_image': 'https://storage.googleapis.com/du-prd/books/images/9780374602604.jpg',
 'book_image_width': 327,
 'book_image_height': 500,
 'amazon_product_url': 'https://www.amazon.com/dp/0374602603?tag=NYTBSREV-20',
 'age_group': '',
 'book_review_link': '',
 'first_chapter_link': '',
 'sunday_review_link': '',
 'article_chapter_link': '',
 'isbns': [{'isbn10': '0374602603', 'isbn13': '9780374602604'},
  {'isbn10': '0374602611', 'isbn13': '9780374602611'}],
 'buy_links': [{'name': 'Amazon',
   'url': 'https://www.amazon.com/dp/0374602603?tag=NYTBSREV-20'},
  {'name': 'Apple Books',
   'url': 'https://du-gae-books-dot-nyt-du-prd.appspot.com/buy?title=BEAUTIFUL+WORLD%2C+WHERE+ARE+YOU&author=Sally+Rooney'},
  {'name': 'Barnes and Noble',
   'url': 'https://www.anrdoezrs.net/click-7990613-11819508?url=https%3A%2F%2Fwww.barnesandnoble.com%2Fw%2F%3Fean%3D9780374602604'},
  {'name': 'Books-A-Million',
   'url': 'https://du-gae-books-dot-nyt-du-prd.appspot.com/redirect?url1=https%3A%2F%2Fwww.anrdoezrs.net%2Fclick-7990613-35140%3Furl%3Dhttps%253A%252F%252Fwww.booksamillion.com%252Fp%252FBEAUTIFUL%252BWORLD%25252C%252BWHERE%252BARE%252BYOU%252FSally%252BRooney%252F9780374602604&url2=https%3A%2F%2Fwww.anrdoezrs.net%2Fclick-7990613-35140%3Furl%3Dhttps%253A%252F%252Fwww.booksamillion.com%252Fsearch%253Fquery%253DBEAUTIFUL%252BWORLD%25252C%252BWHERE%252BARE%252BYOU%252BSally%252BRooney'},
  {'name': 'Bookshop',
   'url': 'https://du-gae-books-dot-nyt-du-prd.appspot.com/redirect?url1=https%3A%2F%2Fbookshop.org%2Fa%2F3546%2F9780374602604&url2=https%3A%2F%2Fbookshop.org%2Fbooks%3Fkeywords%3DBEAUTIFUL%2BWORLD%252C%2BWHERE%2BARE%2BYOU'},
  {'name': 'IndieBound',
   'url': 'https://du-gae-books-dot-nyt-du-prd.appspot.com/redirect?url1=https%3A%2F%2Fwww.indiebound.org%2Fbook%2F9780374602604%3Faff%3DNYT&url2=https%3A%2F%2Fwww.indiebound.org%2Fsearch%2Fbook%3Fkeys%3DBEAUTIFUL%2BWORLD%252C%2BWHERE%2BARE%2BYOU%2BSally%2BRooney%26aff%3DNYT'}],
 'book_uri': 'nyt://book/97a333ba-3bc7-522f-9c8d-3e7b704ba6ae'}

In [56]:
# Your code here

df_books = pd.json_normalize(results_books)
df_books

,status,copyright,num_results,last_modified,results.list_name,results.list_name_encoded,results.bestsellers_date,results.published_date,results.published_date_description,results.next_published_date,results.previous_published_date,results.display_name,results.normal_list_ends_at,results.updated,results.books,results.corrections
0,OK,Copyright (c) 2021 The New York Times Company....,15,2021-09-15T22:07:45-04:00,Hardcover Fiction,hardcover-fiction,2021-09-11,2021-09-26,one_before_latest,2021-10-03,2021-09-19,Hardcover Fiction,15,WEEKLY,"[{'rank': 1, 'rank_last_week': 0, 'weeks_on_li...",[]

In [62]:
nyt_books = pd.DataFrame(books[0][1])
nyt_books.head(2)

,rank,rank_last_week,weeks_on_list,asterisk,dagger,primary_isbn10,primary_isbn13,publisher,description,price,...,book_image_height,amazon_product_url,age_group,book_review_link,first_chapter_link,sunday_review_link,article_chapter_link,isbns,buy_links,book_uri
0,1,0,1,0,0,0374602603,9780374602604,"Farrar, Straus & Giroux","A novelist, a warehouse worker, an editorial a...",0.00,...,500,https://www.amazon.com/dp/0374602603?tag=NYTBS...,,,,,,"[{'isbn10': '0374602603', 'isbn13': '978037460...","[{'name': 'Amazon', 'url': 'https://www.amazon...",nyt://book/97a333ba-3bc7-522f-9c8d-3e7b704ba6ae
1,2,0,1,0,0,1250272815,9781250272812,St. Martin's,The 53rd book of the In Death series. The prop...,0.00,...,500,https://www.amazon.com/dp/1250272815?tag=NYTBS...,,,,,,"[{'isbn10': '1250272815', 'isbn13': '978125027...","[{'name': 'Amazon', 'url': 'https://www.amazon...",nyt://book/9471ff9e-f42d-52cc-b573-6f68486feb87

In [64]:
nyt_books[['rank', 'title', 'author', 'publisher', 'description']].head(5)

,rank,title,author,publisher,description
0,1,"BEAUTIFUL WORLD, WHERE ARE YOU",Sally Rooney,"Farrar, Straus & Giroux","A novelist, a warehouse worker, an editorial a..."
1,2,FORGOTTEN IN DEATH,J.D. Robb,St. Martin's,The 53rd book of the In Death series. The prop...
2,3,BILLY SUMMERS,Stephen King,Scribner,A killer for hire who only takes out bad guys ...
3,4,A SLOW FIRE BURNING,Paula Hawkins,Riverhead,Three women come under scrutiny when a young m...
4,5,MATRIX,Lauren Groff,Riverhead,Seventeen-year-old Marie de France is cast out...

______________________________

# Movie Reviews API
- Search New York Times movie reviews by keyword or opening date or filter by Critics' Picks.
- You can check the documentation [here](https://developer.nytimes.com/docs/movie-reviews-api/1/overview).

### Get movies reviews
- Using the following list, search for movie reviews with `Movie Reviews API`.
- Create a unique dataframe to store the results.
```python
list_movies = ['parasite', 'batman', 'avengers', 'pulp fiction', 'interstellar']
```

In [65]:
# Your code here

list_movies = ['parasite', 'batman', 'avengers', 'pulp fiction', 'interstellar']

nyt_list_movies = pd.DataFrame()

for movies in list_movies:
    query_review = f"https://api.nytimes.com/svc/movies/v2/reviews/search.json?query={movies}&api-key={your_key}"
    request_review = requests.get(query_review)
    movie_json = request_review.json()
    df_movie =pd.DataFrame(movie_json['results'])
    nyt_list_movies = nyt_list_movies.append(df_movie)

In [67]:
nyt_list_movies

,display_title,mpaa_rating,critics_pick,byline,headline,summary_short,publication_date,opening_date,date_updated,link,multimedia
0,Parasite,R,1,Manohla Dargis,‘Parasite’ Review: The Lower Depths Rise With ...,"In Bong Joon Ho’s new film, a destitute family...",2019-10-10,None,2019-11-10 17:44:02,"{'type': 'article', 'url': 'https://www.nytime...","{'type': 'mediumThreeByTwo210', 'src': 'https:..."
0,The Lego Batman Movie,PG,0,MANOHLA DARGIS,"Review: In ‘The Lego Batman Movie,’ Toys and H...",Warner Bros. offers amusement at its own expen...,2017-02-08,2017-02-10,2017-11-02 04:18:26,"{'type': 'article', 'url': 'https://www.nytime...","{'type': 'mediumThreeByTwo210', 'src': 'https:..."
1,Batman v Superman: Dawn of Justice,PG-13,0,A. O. SCOTT,Review: ‘Batman v Superman’ ... v Fun?,"The film, pitting Ben Affleck against Henry Ca...",2016-03-23,2016-03-25,2017-11-02 04:18:24,"{'type': 'article', 'url': 'https://www.nytime...","{'type': 'mediumThreeByTwo210', 'src': 'https:..."
2,The East,PG-13,0,A. O. SCOTT,Falling for the Anarchy She Was Sent to Fight,A group of anarchists near the Mason-Dixon lin...,2013-05-30,None,2017-11-02 04:16:36,"{'type': 'article', 'url': 'https://www.nytime...","{'type': 'mediumThreeByTwo210', 'src': 'https:..."
3,Sound of My Voice,R,0,MANOHLA DARGIS,The Guru in the Basement Promises a Journey to...,A young couple go undercover to investigate an...,2012-04-26,None,2017-11-02 04:16:35,"{'type': 'article', 'url': 'https://www.nytime...",None
4,The Pleasure of Being Robbed,,0,LAURA KERN,Stealing Glances,The initial glimmer of hope “The Pleasure of B...,2008-10-03,2008-10-03,2017-11-02 04:18:08,"{'type': 'article', 'url': 'https://www.nytime...",None
5,Batman & Robin,PG-13,0,JANET MASLIN,Batman and Robin (Movie),The daring duo and Batgirl take on Mr. Freeze ...,1997-06-20,1997-06-20,2017-11-02 04:17:53,"{'type': 'article', 'url': 'https://www.nytime...",None
6,Batman Forever,PG-13,0,Janet Maslin,BATMAN FOREVER (MOVIE),Riddler and Two-Face in Gotham. Mainly gimmick...,1995-06-16,1995-06-16,2017-11-02 04:17:48,"{'type': 'article', 'url': 'https://www.nytime...",None
7,Batman: Mask of the Phantasm,PG,0,Stephen Holden,BATMAN: MASK OF THE PHANTASM (MOVIE),,1993-12-28,1993-12-25,2017-11-02 04:17:46,"{'type': 'article', 'url': 'https://www.nytime...",None
8,Batman Returns,PG-13,0,Janet Maslin,BATMAN RETURNS (MOVIE),Penguin and Catwoman show up for the sequel. S...,1992-06-19,1992-06-19,2017-11-02 04:17:44,"{'type': 'article', 'url': 'https://www.nytime...",None
9,Batman,PG-13,0,Vincent Canby,BATMAN (MOVIE),Millionaire caped crusader vs. the Joker. Fast...,1989-06-23,1989-06-23,2017-11-02 04:17:40,"{'type': 'article', 'url': 'https://www.nytime...",None
0,Avengers: Endgame,PG-13,0,A.O. SCOTT,‘Avengers: Endgame’ Review: The Real Heroes We...,"Iron Man, Thor, the Hulk, Captain America and ...",2019-04-23,2019-04-26,2019-05-23 16:44:02,"{'type': 'article', 'url': 'https://www.nytime...","{'type': 'mediumThreeByTwo210', 'src': 'https:..."
1,Avengers: Infinity War,PG-13,0,A.O. SCOTT,‘Avengers: Infinity War’: It’s Marvel’s Univer...,Infinity? Come on. It’s not even three hours! ...,2018-04-24,2018-04-27,2018-05-24 16:44:02,"{'type': 'article', 'url': 'https://www.nytime...","{'type': 'mediumThreeByTwo210', 'src': 'https:..."
2,Avengers: Age Of Ultron,PG-13,0,MANOHLA DARGIS,Review: ‘Avengers: Age of Ultron’ Gets the Sup...,The new installment in the “Avengers” franchis...,2015-04-30,2015-05-01,2017-11-02 04:18:21,"{'type': 'article', 'url': 'https://www.nytime...","{'type': 'mediumThreeByTwo210', 'src': 'https:..."
3,The Avengers,PG-13,0,By A.&#160;O. SCOTT,"Superheroes, Super Battles, Super Egos",Joss Whedon’s long-awaited superhero opus “The...,2012-05-03,2012-05-04,2017-11-02 04:18:15,"{'type': 'article', 'url': 'https://www.nytime...",None
4,The Avengers,PG-13,0,JANET MASLIN,"Avengers, the (Movie)",British agents vs. villain with weather machin...,1998-08-15,1998-08-14,2017-11-02 04:17:55,"{'type': 'article', 'url': 'https://www.nytime...",None
0,Pulp Fiction,R,1,Janet Maslin,PULP FICTION (MOVIE),Director Quentin Tarantino's linked vignettes ...,1994-09-23,1994-10-14,2017-11-02 04:17:47,"{'type': 'article', 'url': 'https://www.nytime...",None
0,Interstellar,PG-13,1,A. O. SCOTT,"Off to the Stars, With Grief, Dread and Regret",In Christopher Nolan’s science-fiction parable...,2014-11-04,2014-11-07,2017-11-02 04:18:20,"{'type': 'article', 'url': 'https://www.nytime...","{'type': 'mediumThreeByTwo210', 'src': 'https:..."